.presentation{
    min-height: 100vh;
    background-color: var(--background_component_presentation);
    display: flex;
    justify-content: center;
    align-items: center;
    .presentation__center{
        >*{
            width: 20rem;
            max-width: 100%;
            @media (min-width: 670px) {
                width: 40rem;
            }
            color: white;
        }
    }
}