:root{
    --PopupProjectPadding: 1rem;
}

.PopupProject{
    position: fixed;
    top: 0;
    left: 0;
    display:block;
    width: 100vw;
    height: 100vh;
    line-height: 200%;
    background-color: var(--background_component_popupProject);
    color: white;
    z-index: 1000;
    padding: var(--PopupProjectPadding);
    overflow-y: auto;
    animation: .25s ease-in-out 0s 1 normal forwards running openWindow;
    >*:not(.PopupProject__buttonClose){
        width: calc(100vw - (2 * var(--PopupProjectPadding)));
        display: block;
        &:last-child{
            margin-bottom: 5rem;
        }
        @media (min-width: 850px) {
            max-width: 50rem;
            margin: 1rem auto;
        }
    }
    .PopupProject__buttonClose{
        position: absolute;
        top: 0;
        right: var(--PopupProjectPadding);
        .content{
            width: 7rem;
        }
    }
    .PopupProject__buttonLink{
        position: relative;
        display: inline-block;
        margin: 0 .5rem .5rem 0;
        text-decoration: none;
        &:last-child{
            margin-right: 0;
        }
        .content{
            width: 10rem;
        }
    }
    .PopupProject__buttonLink,
    .PopupProject__buttonClose{
        background-color: black;
        cursor: pointer;
        .backLayer{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            background-color: rgba($color: #ffffff, $alpha: .2);
            transition: all .25s;
        }
        &:hover .backLayer{
            width: 100%;
        }
        .content{
            color: white;
            font-weight: bold;
            text-align: center;
            padding: .5rem .5rem;
        }
    }
    &.displaynone{
        // display: none;
        animation: .25s ease-in-out 0s 1 normal forwards running closeWindow;
    }
    .PopupProject__title{
        margin-top: 2rem;
    }
    .PopupProject__thumbnail{
        height: 14rem;
        // background-color: rgba(255, 255, 255, 0.4);
        object-fit: contain;
        object-position: left;
    }
}

@keyframes openWindow {
    from{
        // opacity: 0;
        left: -100%;
    }
    to{
        // opacity: 1;
        left: 0;
    }
}

@keyframes closeWindow {
    from{
        // opacity: 1;
        left: 0;
    }
    to{
        // opacity: 0;
        left: -100%;
    }
}