:root{
    --PopupProjectPadding: 1rem;
}

.PopupProject{
    position: fixed;
    top: 0;
    left: 0;
    display:block;
    width: 100vw;
    height: 100vh;
    background-color: rgb(100, 100, 100);
    color: white;
    z-index: 1000;
    padding: 1rem;
    overflow-y: auto;
    >*:not(.PopupProject__buttonClose){
        max-width: calc(100vw - (2 * var(--PopupProjectPadding)));
    }
    .PopupProject__buttonClose{
        position: absolute;
        top: 0;
        right: var(--PopupProjectPadding);
        .content{
            width: 7rem;
        }
    }
    .PopupProject__buttonLink{
        position: relative;
        display: inline-block;
        margin: 0 .5rem .5rem 0;
        text-decoration: none;
        &:last-child{
            margin-right: 0;
        }
        .content{
            width: 10rem;
        }
    }
    .PopupProject__buttonLink,
    .PopupProject__buttonClose{
        background-color: black;
        cursor: pointer;
        .backLayer{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            background-color: rgba($color: #ffffff, $alpha: .3);
            transition: all .25s;
        }
        &:hover .backLayer{
            width: 100%;
        }
        .content{
            color: white;
            font-weight: bold;
            text-align: center;
            padding: .5rem .5rem;
        }
    }
    &.displaynone{
        display: none;
    }
    .PopupProject__title{
        margin-top: 2rem;
    }
    .PopupProject__thumbnail{
        height: 14rem;
        background-color: rgba(255, 255, 255, 0.4);
    }
}