.CardSlide {
  text-decoration: none;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  background-color: var(--background_component_cardslide);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.CardSlide .CardSlide__card {
  animation: keyframeSlide 8s ease-in-out 0s 1 normal forwards;
}
.CardSlide .CardSlide__card2 {
  animation: keyframeSlide2 8s ease-in-out 0s 1 normal forwards;
}
.CardSlide .CardSlide__card,
.CardSlide .CardSlide__card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 35rem;
}
.CardSlide .CardSlide__card > *,
.CardSlide .CardSlide__card2 > * {
  width: 20rem;
  max-width: 100%;
}
@media (min-width: 670px) {
  .CardSlide .CardSlide__card > *,
  .CardSlide .CardSlide__card2 > * {
    width: 40rem;
  }
}
.CardSlide .CardSlide__card h2,
.CardSlide .CardSlide__card2 h2 {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}
.CardSlide .CardSlide__card img,
.CardSlide .CardSlide__card2 img {
  display: block;
  height: 100%;
  max-height: 15rem;
  object-fit: cover;
}
.CardSlide .CardSlide__card img.objFit1,
.CardSlide .CardSlide__card2 img.objFit1 {
  object-fit: contain;
}
.CardSlide .CardSlide__card p,
.CardSlide .CardSlide__card2 p {
  height: 6rem;
  overflow: hidden;
  text-align: justify;
  mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
}
.CardSlide .CardSlide__card .button,
.CardSlide .CardSlide__card2 .button {
  background-color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  height: 3rem;
  text-align: center;
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  position: relative;
}
.CardSlide .CardSlide__card .button a,
.CardSlide .CardSlide__card2 .button a {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  line-height: 3rem;
}
.CardSlide .CardSlide__card .button .button__back,
.CardSlide .CardSlide__card2 .button .button__back {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: rgb(255, 255, 255);
  transition: all 0.25s;
}
.CardSlide .CardSlide__card .button:hover .button__back,
.CardSlide .CardSlide__card2 .button:hover .button__back {
  width: 100%;
}

@keyframes keyframeSlide {
  0% {
    opacity: 0;
    left: 50%;
  }
  1% {
    opacity: 0;
    left: 50%;
  }
  6% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    left: 0;
  }
  90% {
    opacity: 1;
    left: 0;
  }
  94% {
    opacity: 0;
  }
  99% {
    opacity: 0;
    left: -50%;
  }
  100% {
    opacity: 0;
    left: -50%;
  }
}
@keyframes keyframeSlide2 {
  0% {
    opacity: 0;
    left: 50%;
  }
  1% {
    opacity: 0;
    left: 50%;
  }
  6% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    left: 0;
  }
  90% {
    opacity: 1;
    left: 0;
  }
  94% {
    opacity: 0;
  }
  99% {
    opacity: 0;
    left: -50%;
  }
  100% {
    opacity: 0;
    left: -50%;
  }
}/*# sourceMappingURL=CardSlide.css.map */